body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
    border-radius: 10px;
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2FD929;
    border-radius: 10px;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 32px !important;
}

ul li:hover span {
    box-shadow: -1px 1px 1px;
    color: ; 
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px) rotate(45deg);
    opacity: 1;

}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px) rotate(40deg) skew(-3deg);
    opacity: 0.8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px) rotate(35deg);
    opacity: 0.6;
}
ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px) rotate(30deg);
    opacity: 0.4;
}

ul li:hover span:nth-child(1) {
    transform: translate(0,0) rotate(25deg);
    opacity: .2;
}